@model List<Person>

<h2>All Person</h2>

<div class="row">
    @foreach (var person in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card">
              
                <div class="card-body">
                    <h5 class="card-title">@person.Name</h5>
                    <p class="card-text">@person.Surname</p>
                    <p class="card-text"><strong>Age:</strong> @person.Age</p>
                   
                </div>
            </div>
        </div>
    }
</div>
